@charset "UTF-8";
html,body {
 height: 100%;
}
// ===================================================================
// 設定
// ===================================================================

// ================================
// フォント関係の設定
// ================================

$font-family-sans-serif:'Kosugi', sans-serif,"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "ＭＳ Ｐゴシック", sans-serif;

// ================================
// 色関係の設定
// ================================

$baseBg-color:#fcf5e5;

$theme-colors: (
 "main-color": #66a43c,
 "baseBg-color": #fcf5e5
);

@import "def/bootstrap.scss";


// ================================
// ブレイクポイント
// ================================
$xss:480px;

@mixin xss {
 @media (max-width: ($xss)) {
  @content;
 }
}


// ================================
// クリアフィックス
// ================================

@mixin cf {
 &::after {
  content: "";
  display: block;
  clear: both;
 }
}

// ================================
// 汎用
// ================================

.row-height {
 display: flex;
 flex-wrap: wrap;
}

.txt-sh {
 text-shadow: 0 2px 2px #444;
}

span.br {
 display: block;
}